<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user.username }}</title>
</head>
<body>
<p>Username: {{ request.user.username }}</p>
<p>Город: {{ request.user.profile.city }}</p>
<p>Телефон: {{ request.user.profile.phone }}</p>
<p>Верификация: {% if request.user.profile.verification %}✓{% else %}✗{% endif %}</p>
<p><a href="{% url 'logout' %}">Выйти</a></p>
</body>
</html>