<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
{% if request.user.is_authenticated %}
<p>Приветствую, {{ request.user.username }}, выйти из профиля вы можете по <a href="{% url 'logout' %}">ссылке</a></p>
<p><a href="{% url 'profile'%}">Профиль</a></p>
{% else %}
<p>Приветствую, новый пользователь. Пожалуйста, <a href="{% url 'login' %}">войдите</a></p>
<p><a href="{% url 'register' %}">Нет аккаунт?</a></p>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>