{% extends "main.html" %}

{% block title %}Создание{% endblock %}

{% block content %}
<h2>Создание</h2>
<form method="post" action="{% url 'news-create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать</button>
</form>
{% endblock %}