{% extends "main.html" %}

{% block title %}Редактирование{% endblock %}

{% block content %}
<h2>Редактирование</h2>
<form method="post" action="{% url 'news-edit' object.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
{% endblock %}