{% extends "main.html" %}

{% block head %}
<!--<meta charset="utf-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--<title>Static Example</title>-->

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"-->
<!--      integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"-->
<!--        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>-->
{% endblock %}


{% block content %}
<!--<form action="{% url 'news' %}" method="POST">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Найти</button>-->
<!--</form>-->

<!--<script>-->
<!--    $(function () {-->
<!--        $("#id_date").datepicker({-->
<!--            format: 'yyyy-mm-dd',-->
<!--        });-->
<!--    });-->
<!--</script>-->

{% if news_list %}
<ul>
    {% for new in news_list %}
    {% if new.active %}
    <li><a href="{% url 'news-detail' new.id %}"> {{ new.name }} </a>
        {% if new.tags.all %}
        <p>Тэги:
            {% for tag in new.tags.all%}
            {{tag.name}},
            {% endfor %}
        </p>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>Новостей нет</p>
{% endif %}
{% endblock %}