{% extends "main.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<h3>{{ object.name }}</h3>
<p>{{ object.content }}</p>
{% if object.tags.all %}
<p>Тэги:
    {% for tag in object.tags.all%}
    {{tag.name}},
    {% endfor %}
</p>
{% endif %}
<p>Последний раз обновленно: {{ object.updated_at }}</p>
<form method="post" action="{% url 'news-detail' object.id %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Сохранить</button>
</form>
<ul>
    {% for comment in object.comments.all %}
    <li>
        <p>{{ comment.user_name }}{% if comment.author is None %}: анонимно{% endif %}</p>
        <p>{{ comment.text }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}